<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Flix</title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- OWL CAROUSEL -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
    />
    <!-- BOX ICONS -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- APP CSS -->
    <link rel="stylesheet" href="/stylesheets/grid.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <style>
    .pagination-container {
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .pagination {
      display: inline-block;
    }

    .pagination a {
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
    .pagination-active {
      background-color: var(--main-color);
    }
  </style>
  <body>
    <div class="preloader">
      <div class="loader"></div>
    </div>
    <!-- NAV -->
    <%- include("./_layouts/_navbar.ejs") %>
    <!-- END NAV -->

    <!-- HERO SECTION -->
    <%- include("./_layouts/_hero-section.ejs") %>
    <!-- END HERO SECTION -->

    <!-- LATEST MOVIES SECTION -->

    <%- include("./_layouts/_latest-movie.ejs") %>
    <!-- END LATEST MOVIES SECTION -->

    <!-- LATEST SERIES SECTION -->
    <%- include("./_layouts/_movie-section.ejs") %>
    <!-- END LATEST SERIES SECTION -->

    <!-- LATEST CARTOONS SECTION -->
    <%- include("./_layouts/_latest-cartoon.ejs") %>
    <!-- END LATEST CARTOONS SECTION -->
    <div class="pagination-container">
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="pagination-active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>
    </div>

    <!-- SPECIAL MOVIE SECTION -->
    <%- include('./_layouts/_special-movie-section') %>
    <!-- END SPECIAL MOVIE SECTION -->

    <!-- COPYRIGHT SECTION -->
    <div class="copyright">
      Copyright 2024
      <a href="/" target="_blank"> Abhishek Joshi</a>
    </div>
    <!-- END COPYRIGHT SECTION -->

    <!-- SCRIPT -->
    <!-- JQUERY -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- OWL CAROUSEL -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
    ></script>
    <!-- APP SCRIPT -->

    <script src="/javascripts/main.js"></script>
  </body>
</html>
<!-- 923 -->
